
# Секреты
.env

# Python
__pycache__/
*.py[codz]
*$py.class
*.so
*.pyc
*.pyo

# База данных
db.sqlite3
*.sqlite3
db.sqlite3-journal

# IDE
.vscode/
.idea/
.venv
venv/
env/
ENV/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py

# Celery
celerybeat-schedule
celerybeat.pid

# Environments
.envrc
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Ruff
.ruff_cache/

# VS Code (закомментировано, раскомментируй если нужно)
# .vscode/

# PyCharm (закомментировано, раскомментируй если нужно)
# .idea/
